

/* * { background: rgb(0 0 100/0.3); } permet de voir quelle div depasse e son container */
/* * { background: rgb(0 0 100/0.3) !important; } */

:root {
    --font-family-1: 'Raleway', sans-serif;
    --color-grey: #cecece;
    --text-color-1: #191919;
    --text-color-2: #0065fc;
    --text-color-3: #deebfc;
    --bacground-1: #f2f2f2;
    --etoile-grise: #dadada;
    --color-white: #ffffff;
    --p-font: 17px;
    --p-font-2: 19px;
    --h2-font: 20px;
}





@media screen and (max-width: 992px) {
    .boutons {
        width: 100%;
    }

    .container-grid-25 .populaire {
        font-size: 16px;
    }

    .grid-25{
        height: 93%;
    }

    .carte-25 {
        width: 125%;
    }

    .carte-25 .img-content img{
        height: 100% !important;
    }
}

@media screen and (max-width:768px){
    .barre-filtre {
        flex-wrap: wrap;
        width: 100%;
    }

    .barre-filtre .titre-filtre {
        padding-right: 230px;
    }


    .barre-filtre .boutons {
        justify-content: center;
        width: 100%;
    }
    .boutons a{
        width: 32%;

    }

    .boutons {
        display: flex;
        width: 87%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .boutton-filtre span {
        justify-content: center;
    }

    .itext span {
        font-size: 16px;
    }

    .itext i {
        height: 23px;
        width: 2px;
    }

    .itext .fa-solid {
        font-size: 10px;
    }

    .carte-25 .desc .bleu-1{
        padding-top: 45px;
    }
    .carte-25 .desc .bleu-2{
        padding-top: 14px;
    }
    .carte-25 .desc .bleu-3{
        padding-top: 32px;
    }

}

/* fin media 768px */

