*,
::before,
::after {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;

}


:root {
    --font-family-1: 'Raleway', sans-serif;
    --text-color-1: #191919;
    --text-color-2: #0065fc;
    --text-color-3: #deebfc;
    --bacground-1: #f2f2f2;
    --etoile-grise: #dadada;
    --p-font: 17px;
    --p-font-2: 19px;
    --h2-font: 20px;
}

body {
    background: white;
    display: block;
    position: relative;
    justify-content: space-between;
}

.main-content{
    max-width: 1400px;
    margin:0 auto;
}

a {
    color: var(--text-color-1);
}

/* logo taille */


header ul {
    display: flex;
    position: relative;
}

header ul li {
    padding: 0 40px;
    font-family: var(--font-family-1);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header ul li a {
    color: var(--text-color-1);
    font-size: var(--p-font);
}

/* intéractivité navigation passage souris */
header ul li a:hover {
    /* text-transform: uppercase; */
    transition: 0.25s;
    border-top: 4px solid #0065fc;
    padding-top: 90px;
    /* text-shadow:  10px 15px 30px rgb(0,101,255); */
    font-weight: 800;
    color: var(--text-color-2);
}

/* disposition nav et logo */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}


.logo img {
    width: 140%;
}

/*----fin header----*/

/*-- ----debut section recherche et filtres---- --*/

.titre {
    font-family: var(--font-family-1);
    font-weight: 700;
    color: var(--text-color-1);

}

.slogan {
    font-family: var(--font-family-1);
    font-weight: 500;
    color: var(--text-color-1);
    padding-top: 10px;
    font-size: var(--p-font-2);
}

.sous-nav {
    align-items: center;
    padding: 0 40px;
}

/* debut barre de recherche */
.barre-recherche {
    padding-top: 20px;
    color: var(--text-color-1);
    display: flex;

}

.sous-nav icons {

    padding-top: 20px;
    display: flex;
    padding: 0 40px;
}



.sous-nav i {
    display: flex;
    width: 50px;
    height: 30px;
}

.sous-nav .icons i {

    padding: 24px 19px;
    align-items: center;
    background: var(--text-color-3);
    border-radius: 10px 0 0 10px;
}


.recherche {
    display: flex;
    height: 50px;
    appearance: auto;

}

.recherche input {
    display: flex;
    width: 250px;
    appearance: auto;
    font-size: 20px;
    font-weight: 800;
    font-family: var(--font-family-1);
    color: var(--text-color-1);
    text-align: center;
    border: 1px solid #deebff;
}

.recherche button {
    padding: 0 20px;
    font-size: 20px;
    font-family: var(--font-family-1);
    font-weight: 600;
    color: white;
    background: var(--text-color-2);
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
}

.recherche button:hover {
    transform: scale(1.05);
    transition: all .30s;
    box-shadow: 0 0 35px #2727278e;
    cursor: pointer;
}


/* debut filtre */
.barre-filtre {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;


}

/* filtre text */
.barre-filtre .titre {
    font-size: 22px;
    padding-right: 50px;


}

.boutton-filtre {
    margin-left: 13px;
    display: flex;
    align-items: center;
    border: 2px solid #c9d8ee;
    height: 48px;
    border-radius: 999px;
    border-left: none;
    transition: all 0.36s;
}

.boutton-filtre:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #2727278e;
    transition: all 0.36;
    background: var(--etoile-grise);
}

.bordure-filtre:hover {
    color: var(--text-color-2);
    transform: scale(1.05);
    transition: all 0.36s;
}

/* taille contour des icons */
.boutton-filtre i {
    align-items: center;

    background: var(--text-color-3);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 20px 17px;
    border: 1px solid #c9d8ee;
}

.boutton-filtre span {
    font-size: 20px;
    font-family: var(--font-family-1);
    font-weight: 600;
    padding: 20px;
}

.icons-filtre i {
    display: flex;
    justify-content: center;
    font-size: larger;
    color: var(--text-color-2);

}

/* debut plus de 500 */

.itext {
    position: relative;
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.itext i {
    display: flex;
    align-items: center;
    border: 2px solid #c9d8ee;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    padding: 17px;
}

.itext span {
    font-family: var(--font-family-1);
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

/* positionnement du conteneur */
.hebergement-flex {
    width: 100%;
    margin-top: 35px;
    padding: 2rem;

}

/* background gris taille */
.flex-grid {
    display: flex;
    width: 100%;
    height: 1200px;
    padding: 20px 0;
    border-radius: 20px;
    gap: 30px;


}

/* hebergement a marseille h1 */
.marseille {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 10px;
    font-family: var(--font-family-1);
    font-size: 30px;
    font-weight: 700;
}

/* conteneur des vignette */
.container-grid-75 {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 1300px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    background: var(--etoile-grise);
    gap: 25px;

}



/* .container-grid-75 a:not(.container-grid-75 a:last-child) {
    width: 30%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

} */

/* conteneur vignette */
.carte-75 {
    align-items: center;
    width: 280px;
    /* height: 470px; */
    padding: 5px;
    border-radius: 20px;
    transition: all .35s;
    border: 1px solid #c9d8ee;
    background: var(--bacground-1);


}
.carte-75 a{
    height: 100%;
}

.carte-75 .img-content{
    height: 160px;
}

/* .img-content {
    width: 100%;
    height: 240px;
} */

.img-content img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/* annimation des vignettes */
.carte-75:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #2727278e;
    transition: all 0.36s;
}


/* taille de l'image */

.desc {
    height: 50%;
    font-family: var(--font-family-1);
}

.desc h2 {
    padding: 5px;
    font-size: 35px;
}

.desc p {
    font-size: 25px;
    font-weight: 500;
    padding: 5px 10px;
}

.etoile-bleu {
    font-family: var(--font-family-1);
    font-size: 17px;
    color: var(--text-color-2);
    padding: 0 20px;

}

.container-grid-75 a:last-child {
    width: 100%;
    


    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: 25px;

}


/* conteneur les plus populaire le fond gris */
.container-grid-25 {
    width: 30%;
    height: 1300px;
    padding: 15px;
    border-radius: 20px;
    background: var(--etoile-grise);
}

/* titre les plus populaire */
.container-grid-25 .populaire {
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: 30px;


}

/* les 3 vignettes */
.grid-25 {
    display: flex;
    /* grid-template-columns: repeat(1,3fr); */
    width: 100%;
    height: 100%;
    gap: 40px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.grid-25 a {
    height: 30%;
    
}

.carte-25 {
    display: flex;
    width: 100%;
    height: 300px;
    max-height: 500px;
    padding: 5px;
    background: var(--bacground-1);
    border-radius: 20px;
    flex-direction: row;
    
}

.carte-25 a{
    display: flex;
    width: 100%;
    height: 100%;   
}

.carte-25 .img-content {
    width: 140px;
    height: 100%;
    

}

.carte-25 .img-content img {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}

.carte-25 .desc {
    width: 50%;
    height: 100%;
}

.carte-25 .desc h2{
    
    font-size: 20px;
}
.carte-25 .desc p{
    font-size: 18px;
}


.carte-25:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #2727278e;
    transition: all 0.36s;
}

.etoile-grise {
    color: var(--etoile-grise);

}

.etoile-grise:hover {
    transform: scale(1.05);
    box-shadow: 20px 10px 35px #2727278e;
    transition: all 0.36s;
    background: var(--text-color-1);
}

/* section activité à Marseille */


/* container */
.activity-container {
    width: 100%;
    height: 1000px;
    padding: 30px;
    
}

.activity{
    padding: 2rem;
    background: #f2f2f2;
    border-radius: 15px;
    
}

/* ecriture */
.activity h2 {
    width: 100%;
    font-family: var(--font-family-1);
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
    padding: 20px;
    

}
/* appel flexbox  */
.grid-activity{
    display: flex;
    width: 100%;
    height: 400px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}
/* création column */
.grid-activity .column-1{
    display: flex;
    width: 100%;
    gap: 25px;
    flex-direction: column;
    transition: all 0.4s;
    border-radius: 25px;
}

.grid-activity .column-2{
    display: flex;
    width: 100%;
    gap: 25px;
    flex-direction: column;
    transition: all 0.4s;
    border-radius: 25px;
}

.grid-activity .column-1:hover{
    box-shadow: 0 0 36px #191919;   
    transform: scale(1.04);
    border-radius: 25px;
    
}

.grid-activity .column-2:hover{
    box-shadow: 0 0 36px #191919;   
    transform: scale(1.04);
    border-radius: 25px;
    
}

.grid-activity a{
    position: relative;
}

.grid-activity .desc-2{
    position:absolute;
    background: rgba(117, 117, 117, 0.5);
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.grid-activity .card:hover .desc-2 {
    height: 100%;
    border-radius: 8px;
  }
 .grid-activity .card h1 {
    color: #f1f1f1;
  }
 .grid-activity .card {
    width: 100%;
    height: 100%;
  }
 .grid-activity .card .img-content {
    height: 100%;
  }
.grid-activity .card .img-content img {
    border-radius: 8px;
    object-fit: cover;
    object-position: 25%;
  }


.column-1{
    width: 500px;
    height: 700px;
}

.column-2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width:100%;
    height: 337px;
}







/* debut footer */
/* container talle du background */
.footer {

    width: 100%;
    background: var(--etoile-grise);
    position: absolute;
    bottom: -400px;
    transition: all 0.4s ease-in-out;

}

.footer:hover {
    background: #0065fc;
    color: var(--bacground-1)
}

.container-footer {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 40px;

}

.footer-column {
    width: 100%;

}


.footer-column h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-family: var(--font-family-1);
    font-weight: 800;
}

.footer-column-link {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: var(--font-family-1);
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0;
    transition: all 0.36s;
    /* cursor: pointer; */

}

.footer-column-link:hover {
    transition: 0.25s;
    font-weight: 800;
    color: var(--bacground-1);
}


