
/* debut media querry 992px */
@media screen and (max-width: 992px) {

    .container-grid-75 {
        gap: 30px;
        
    }

    .container-grid-75 a:not(.container-grid-75 a:last-child) {
        width: 30%;

    }

    .carte-75{
        height: 290px
    }

    .carte-75 a {
        height: 100%;

    }

    .carte-75 .img-content {
        width: 100%;
    }

    .desc h2 {
        font-size: 23px;
    }

    .desc p {
        font-size: 17px;
    }

    .etoile-bleu {
        font-size: 15px;
    }

    .flex-grid {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .carte-25 {
        flex-direction: column;
        align-items: center;
        height: 20%;
        width: 100%;
        gap: 30px;
    }

    .carte-25 .img-content {
        width: 100%;
        height: 150px;
    }

    .carte-25 .img-content img {
        border: 2px solid transparent;
        border-radius: 20px 0px 0px 20px;
    }

    .populaire i{
        display: flex;
        justify-content: flex-end;
        margin-top: -17px;
        margin-right: 30px;
    }

    .grid-25 .desc {
        width: 100%;
    }

    .desc .grid-25-h2 {
        font-size: 20px;
    }

    .container-grid-75 {
        width: 100%;
    }

    .container-grid-25 {
        width: 100%;
        margin-top: 30px;
    }

    .grid-25 {
        width: 100%;
        gap: 14px;
        padding-top: 25px;
        flex-direction: row;
    }


    .footer{
        display: flex;
        width: 100%;
    }

    .footer-column .footer-992px {
        padding-left: 23px;
    }

}




/* debut media 768px */

@media screen and (max-width:768px) {
    .barre-filtre {
        display: grid;
        justify-content: center;
        gap: 15px;
    }

    .barre-filtre .titre {
        display: grid;
        justify-content: center;
        margin-top: 20px;
    }

    .flex-grid {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    /* container 75 */
    .container-grid-75{
        width: 100%;
        padding: 10px;
        
    }

    .carte-75 h2{
        font-size: 60%;
    }

    .carte-75 p{
        font-size: 15px;
    }

    .etoile-bleu{
        font-size: 12px;
    }

    .carte-75{
        height: 200px;
    }
    /* les plus populaires */

    .container-grid-25{
        width: 100%;
    }

    .carte-25{
        height: 160px;
    }

    .carte-25 .etoile-bleu{
        margin-top: 5px;
        font-size: 8px;
        
    }
        
    .footer{
        display: flex;
        width: 90%;
        margin-left: 38px;
    }

    .footer-column .footer-992px {
        padding-left: 23px;
    }

}
    /* fin media 768px */

    /* début reste de media 767px à 319px */

    @media screen and (max-width:767px) and (min-width:319px){
        .nav{
            display:block;
            justify-content: center;
        }

        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo img{
            width: 140px;
        }

        .nav ul{
            margin-top: 30px;
            justify-content: space-between;
        }

        .nav ul li a{
            font-size: 30px;
        }

        header ul li a:hover {
            padding-top: 120px;
        }

        .barre-recherche{
            width: 100%;
            justify-content: center;
        }

        .recherche button{
            padding: 0;
        }

        .recherche input{
            width: 100%;
        }

        .sous-nav .icons{
            padding: 30px 19px;
        }

        .sous-nav .icons .loupe{
            background: transparent;
            display: inline;
        }

        .recherche-txt{
            display: none;
        }

        .barre-filtre{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        

        .barre-filtre .titre-filtre{
            display: flex;
            flex-direction: column;
        }

        .boutons{
            display: flex;
            flex-wrap: wrap;
        }
        
        .boutons a{
            width: 50%;
        }

        .flex-grid{
            flex-direction: column-reverse;
        }

        .grid-25, .container-grid-75{
            flex-direction: column;
            align-items: center;
            padding: 40px 20px;
        }

        .carte-25, .carte-75{
            width: 75%;
        }

        .carte-75{
            height: auto;
        }

        .carte-75 img{
            height: 200px;
        }

        .carte-75 .desc h2{
            font-size: 25px;
        }
        .carte-75 .desc p, .etoile-bleu{
            font-size: 18px;
        }

        .activity-container{
            margin-bottom: 40px;
        }

        .container-footer{
            flex-direction: column;
        }
        
        .grid-activity{
            flex-direction: column;
            align-items: center;
        }

        .grid-activity .column-1, .container-column-2{
            width: 75%;
            height: 50%;
        }


    }