/* debut media 2560 */
@media screen and (max-width: 2560px){
    .grid-activity .card .querry{
        height: 335px;
    }

   
}




/* debut media 1024px */
@media screen and (max-width: 1024px){ 
    .carte-75{
        height: 354px;
    }

    .carte-25{
        flex-direction: column;
        align-items: center;
        max-height:auto;
    }
    
    .carte-25 a{
        flex-direction: column;
        height: auto;
        max-height: auto;
    }

    .grid-25{
        
        display: flex;
    }
    
    .grid-25 .desc{
        width: 100%;
    } 

    .grid-25 .desc h2{
        font-size: 25px;
    }

    .grid-25 .desc p{
        font-size: 20px;
    }

    .carte-25 .img-content{
        width: 100%;
        height: 180px;
    }

    .carte-25 .img-content img{
        border-radius: 20px 20px 0 0;
        
    }


    .grid-activity .card .querry{
        height: 340px;
    }

    .footer-column .footer-992px{
        padding-left: 23px;
    }
    
}
 

/* debut media querry 992px */
  @media screen and (max-width: 992px) {


    .container-grid-75{
        gap: 20px;
        height: 1300px;
    }

    .container-grid-75 a:not(.container-grid-75 a:last-child){
        width: 30%;
        
    }
    .carte-75{
        
        height: 360px;
        
    }
    .carte-75 .img-content{
        width: 100%;
    }

    .desc h2{
        font-size: 23px;
    }

    .desc p{
        font-size: 17px;
    }

    .etoile-bleu{
        font-size: 15px;
    }

    
    
    /* container hebergement 25% */

    

    .carte-25{
        flex-direction: column;
        align-items: center;
        height: 320px;
        width: 200px;
        }

        .carte-25 .img-content{
            width: 100%;
            height: 150px;
        }
    
        .carte-25 .img-content img{
            border-radius: 20px 20px 0 0;
    
        }

        .grid-25 .desc{
            width: 100%;
        } 
    
        .desc .grid-25-h2{
            font-size: 20px;
        } 

        .flex-grid{
            display: flex;
            flex-direction: column;
            height: auto;
        }

        .container-grid-75{
            width: 100%;
        }
        
        /* grille 25%  */
        .container-grid-25{
            width: 100%;
            
            
        }
    
        .grid-25 a{
            width: 500px;
        }
    
        .carte-25{
            width: auto;
        }

    
    
    .grid-activity .card .querry{
        height: 340px;
    }

    .footer-column .footer-992px{
        padding-left: 23px;
    }

}

/* debut media 768px */

@media screen and (max-width:768px)  {
    .barre-filtre{
        display: grid;
        justify-content: center;
        gap: 15px;
        
    }

    .barre-filtre .titre{
        display: grid;
        justify-content: center;
        margin-top: 20px;
    }

    .flex-grid{
        display: flex;
        flex-direction: column;
        height: auto;
    }

  

    

   

    .footer-column .footer-992px{
        padding-left: 23px;
    }


    /* debut de fin querry */
    @media  screen and (max-width:683px) {
        .flex-grid{
            display: flex;
            flex-direction: column;
            height: auto;
        }

        .barre-filtre{
            display: grid;
            flex-direction: column;
            gap: 15px;
            
        }

        .carte-75{
            width: 240px;
        }
    }

    @media screen and (max-width:603px) {

        .carte-75{
            width: 200px;
        }

        .footer-column h2{
            font-size: 25px;
        }
    }

    @media screen and (max-width:523px){
        .carte-75{
            width: 180px;
        }

        .carte-25{
            width: 285px;
            
        }

        .carte-25 a{
            align-items: center;
        }

        .carte-25 .img-content{
            width: 270px;
            
            
        }

        .grid-25-h2{
           display: flex;
           justify-content: center;
        }
        .grid-25-p{
            display: flex;
            justify-content: center;
        }
        .etoile-bleu{
            display: flex;
            justify-content: center;
        }
        .etoile-grise{
            display: flex;
            justify-content: center;
        }

        .grid-activity{
            flex-direction: column;
            margin-top: 300px;
            width: 400px;
        }

        .grid-activity.card{
            width: 373px;
            
        }

        .activity{
            background: none;
        }

        .activity-container{
            height: 1800px;
        }

        .footer-column h2{
            font-size: 21px;
        }

        .footer-column-link{
            font-size: 20px;
        }
        

        
    }

    @media screen and (max-width:425px){

        .boutton-rechercher{
            width: 100px;
        }
        
        .recherche-txt{
            display: flex;
            font-size: 17px;
            justify-content: center;
        }

        .nav{
            padding: 10px;
        }
        .logo img{
            height: 50px;
            width: 90px;
        }

        .flex-grid{
            width: 415px;

        }

        .container-grid-75{
            width: 100%;
        }
        
        .carte-75{
            width: 150px;
            height: 320px;
        }

        .activity{
            padding: 0
        }

        .footer{
            width: 500px;
        }

        .footer-column h2{
            font-size: 10px;
        }

        .footer-column-link{
            font-size: 10px;
        }
    }

}
